@import '../../assets/css/utils/index.scss';

.speaker {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 0;
    padding: 20px;
    border-radius: 12px;
    background-color: #ffffff;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        @include is-screen-max($breakpoint-sm) {
            flex-wrap: wrap;
            gap: 12px;
        }

        .user {
            flex-shrink: 0;
            gap: 16px;
            max-width: 100%;

            &__content {
                display: flex;
                flex-direction: column;
                gap: 4px;
                min-width: 0;
            }

            &__subtitle {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 8px;

        @include is-screen-max($breakpoint-sm) {
            gap: 0;
            margin-left: auto;
        }
    }

    &__remove {
        padding: 8px;
        border: none;
        border-radius: 10px;

        @include is-screen-max($breakpoint-sm) {
            padding: 6px;
        }

        img {
            @include is-screen-min($breakpoint-sm) {
                display: none;
            }
        }

        .button {
            &__title {
                color: #db1b1a !important;

                @include is-screen-max($breakpoint-sm) {
                    display: none;
                }
            }
        }
    }

    &__type {
        .select {
            &__button {
                padding: 8px;
                border: none;
                border-radius: 10px;
            }
        }
    }

    .form-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding-left: 48px;

        @include is-screen-max($breakpoint-sm) {
            padding-left: 0;
        }

        .list-item {
            &__handle {
                order: -1;
            }
        }

        &__error {
            padding-left: 8px;
        }

        &__add {
            margin-left: 8px;
        }
    }
}
