.speakers-form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__title {
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
        color: #1b1c1d;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
