@import '../../assets/css/utils/index.scss';

.login-area {
    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 32px;
    }

    &__button {
        .button {
            & > img {
                width: 20px;
            }
        }

        &:last-child {
            position: relative;
            margin-top: 14px;
            padding-top: 23px;

            &::before {
                content: "";
                position: absolute;
                left: 16px;
                right: 16px;
                top: 0;
                height: 1px;
                background-color: #E2E2E3;
            }
        }
    }

    &__note {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #70717A;
        text-align: center;
    }
}