@import '../../../assets/css/utils/index.scss';

.body.is-dark-mode {
    .form-tags {
        &__list {
            background-color: #262729;
            color: #e2e2e3;
        }

        &__item {
            background-color: rgba(255, 255, 255, 0.06);

            &:hover {
                @include is-screen-min($breakpoint-md) {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }

            p {
                color: #e2e2e3;
            }
        }

        &__input {
            &::placeholder {
                color: #70717a;
            }
        }

        .input-nav {
            &::before {
                background: linear-gradient(
                    90deg,
                    rgba(38, 39, 41, 0) 0%,
                    #262729 20px,
                    #262729 100%
                );
            }
        }
    }
}
