@import '../../assets/css/utils/index.scss';

.bookmarks {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        padding-bottom: 26px;
        border-bottom: 1px solid #e2e2e3;
        margin-bottom: 26px;
    }

    &__title {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #1b1c1d;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .topic {
            margin-bottom: 4px;
            transition: opacity 0.3s;

            &.sortable-ghost {
                opacity: 0;
            }
        }
    }
}
