@import '../../assets/css/utils/index.scss';

.body.is-dark-mode {
    .reaction {
        border-color: #303234;
        background-color: #1a1b1c;

        &-icons {
            &__icon {
                background-color: #1a1b1c;
            }
        }

        &__content {
            .reaction-body {
                &__main {
                    .reaction-event {
                        &__main {
                            color: #8c9095;

                            a {
                                color: #e2e2e3;
                            }
                        }
                    }
                }

                &__meta {
                    & > * {
                        color: #8c9095;

                        &:not(:last-child) {
                            &::after {
                                background-color: #454749;
                            }
                        }
                    }

                    a {
                        color: #e2e2e3;
                    }
                }

                .reaction-sidebar {
                    &__subscribe {
                        &.is-active {
                            background-color: #e2e2e3;

                            .button {
                                &__title {
                                    color: #2f3033;
                                }
                            }
                        }

                        &:hover {
                            @include is-screen-min($breakpoint-md) {
                                border-color: #3f444a !important;
                                background-color: #3f444a;

                                .button {
                                    &__title {
                                        color: #e2e2e3;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
