@import '../../../../assets/css/utils/index.scss';

.block-image {
    &__result {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include is-screen-max($breakpoint-sm) {
            gap: 20px;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 12px;
            overflow: hidden;
        }

        p {
            padding: 2px 0;
            font-size: 14px;
            line-height: 20px;
            color: #70717a;
            text-align: center;
        }
    }

    &__form {
        border-radius: 16px;
        background-color: #ffffff;
        overflow: hidden;
    }

    .image-form {
        &__image {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 40px 28px 28px;

            &.has-image {
                padding: 0;
            }
        }

        &__icon {
            width: 40px;
        }

        &__text {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #999ba3;
            text-align: center;

            &.is-error {
                color: #e04748;
            }
        }

        &__label {
            border-top: 1px solid #f0f1f1;
            padding: 28px;
        }
    }
}
