@import '../../../assets/css/utils/index.scss';

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 260px;
    overflow: hidden auto;
    padding: 8px 0;
    border: 1px solid #e2e2e3;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.04);

    &__item {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 8px 16px;
        font-size: 16px;
        line-height: 24px;
        color: #1b1c1d;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            @include is-screen-min($breakpoint-md) {
                background-color: rgba(27, 28, 29, 0.06);
            }
        }

        img {
            width: 24px;
        }
    }
}
