@import '../../assets/css/utils/index.scss';

.body.is-dark-mode {
    .leader {
        &:hover {
            @include is-screen-min($breakpoint-md) {
                background-color: rgba(255, 255, 255, 0.06);
            }
        }

        &__rating {
            background-color: #262729;
            color: #e2e2e3;
        }
    }
}
