@import '../../assets/css/utils/index.scss';

.profile-info {
    position: relative;
    padding: 32px;
    border: 1px solid #E2E2E3;
    border-radius: 28px;
    background-color: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(50px);

    @include is-screen-max($breakpoint-xl) {
        padding: 24px 24px 32px;
    }
    
    @include is-screen-max($breakpoint-lg) {
        padding: 20px 20px 30px;
    }

    @include is-screen-max($breakpoint-sm) {
        padding: 16px;
    }

    &__toggle {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 8px;
        margin-left: -12px;

        @include is-screen-max($breakpoint-lg) {
            margin-bottom: -8px;
        }

        @include is-screen-max($breakpoint-sm) {
            margin-top: 0;
            margin-bottom: 0;
        }

        .button {
            padding: 7px;
            border-radius: 10px;

            &__title {
                font-size: 14px;
                line-height: 20px;
            }

            img {
                transition: transform 0.3s;
            }
        }
    }

    &.is-expanded {
        @include is-screen-max($breakpoint-xl) {
            padding-bottom: 24px;
        }

        @include is-screen-max($breakpoint-lg) {
            padding-bottom: 32px;
        }

        @include is-screen-max($breakpoint-sm) {
            padding-bottom: 56px;
        }

        .profile-body {
            &__description {
                overflow: initial;

                .profile-info {
                    &__toggle {
                        display: flex;

                        @include is-screen-max($breakpoint-xl) {
                            transform: translateY(6px);
                        }

                        @include is-screen-max($breakpoint-sm) {
                            transform: none;
                        }
                    }
                }
            }

            .body-blocks {
                overflow: initial;

                @include is-screen-max($breakpoint-lg) {
                    margin-bottom: 0;
                }

                &__track {
                    height: auto;
                }
            }
        }

        .profile-info {
            &__toggle {
                display: none;
            }
        }
    }

    &.no-description {
        .profile-body {
            display: block;
            height: auto;

            .body-blocks {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 24px;
                height: auto;
                margin-bottom: 0;

                @include is-screen-max($breakpoint-xl) {
                    gap: 20px;
                }
    
                @include is-screen-max($breakpoint-lg) {
                    grid-template-columns: repeat(8, 1fr);
                    gap: 16px;
                }
    
                @include is-screen-max($breakpoint-sm) {
                    gap: 12px;
                }

                &__track {
                    gap: 24px;
                    grid-column: span 3;
                    height: auto;

                    @include is-screen-max($breakpoint-xl) {
                        gap: 20px;
                    }
        
                    @include is-screen-max($breakpoint-lg) {
                        grid-column: span 6;
                    }
        
                    @include is-screen-max($breakpoint-sm) {
                        grid-column: span 8;
                    }
                }

                &__socials {
                    grid-column: span 2;
        
                    @include is-screen-max($breakpoint-sm) {
                        grid-column: span 8;
                    }
                }
            }
        }

        .profile-info {
            &__toggle {
                display: none !important;
            }
        }
    }

    &.is-short {
        .profile-body {
            height: auto;

            &__description {
                height: auto !important;
            }

            .body-blocks {
                height: auto !important;
                margin-bottom: 0;

                &__track {
                    height: auto;
                }
            }
        }

        .profile-info {
            &__toggle {
                display: none !important;
            }
        }
    }
}