@import '../../assets/css/utils/index.scss';

.body.is-dark-mode {
    .page-block {
        border-color: #303234;
        background-color: #1a1b1c;

        &__title {
            color: #8c9095;

            @include is-screen-max($breakpoint-xl) {
                color: #696c71;
            }

            @include is-screen-max($breakpoint-lg) {
                color: #8c9095;
            }
        }
    }
}
